<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @target.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @target.desc %>
</p>

<p>
  <b>Creator:</b>
  <%= @target.creator_id %>
</p>

<p>
  <b>Status:</b>
  <%= @target.status %>
</p>


<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
