<!DOCTYPE html>
<html>
<head>
  <title>Kickr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class="header">
	    <a href="/">
		    <div class="logo">
		    	<div class="logo-text-wrapper">
		        	<p class="logo-text">KiCKR</p>
		    	</div>
		    </div>
		</a>
	</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
