<!DOCTYPE html>
<html>
<head>
  <title>Kickr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class="header">
	    <a href="/">
		    <div class="logo">
		    	<div class="logo-text-wrapper">
		        	<p class="logo-text">KiCKR</p>
		    	</div>
		    </div>
		</a>

		<div class="login-info">
			<% if user_signed_in? %>
				<p class="logged-in-text"> Welcome, <%= current_user.username %></p>
			<% else %>
				<%= form_for("user", :url => user_session_path) do |f| %>
				<p>
					<%= f.text_field :email, :placeholder => 'Username',  :size => 10 %>
					<%= f.password_field :password,  :placeholder => 'Password',  :size => 10 %>
					<%= f.check_box :remember_me %>
					<%= f.label :remember_me %>
					<%= f.submit 'Sign in' %>
					<%= link_to "Forgot your password?", new_password_path('user') %>
				</p>
				<% end %>
			<% end %>
		</div>
	</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
